.sidebar {
 
  position: fixed;
  left: 0;
  
  
}
.content{
   margin-left: 15vw;
    z-index: 1;
   width: 100%;
   height: 100%;
}

@media(max-width:768px){
  .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
  }
}